/* src/index.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to right, rgb(228, 100, 218), green);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 2rem;
    color: white;
}

button {
    font-size: 1rem;
    padding: 20px;
}